<!DOCTYPE html>
<html>
<head>
</head>

<body>

<h2>Results</h2>
<p id="weight">Weight: <%= weight %></p>
<p id="type">Type: <%= type %></p>
<p id="price"><strong>Price: $<%= price.toFixed(2) %></strong></p>

</body>
</html>
